In [131]:
#data manipulations
import pandas as pd
import numpy as np

#visualization
import matplotlib.pyplot as plt
import seaborn as sns

#stats is great
from scipy import stats

#my own files with my own functions
import acquire
import prepare
import os

In [132]:
df = acquire.get_telco_data()
df.head()

this file exists, reading csv

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [133]:
df = prepare.prep_telco(df)
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [134]:
for col in df.columns:
    print(col)

customer_id
gender
senior_citizen
partner
dependents
tenure
phone_service
multiple_lines
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies
paperless_billing
monthly_charges
total_charges
churn
contract_type
internet_service_type
payment_type

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  paperless_billing      7043 non-null   object
 15  monthly_charges        7043 non-null   float64
 16  total_charges          7043 non-null   object
 17  churn                  7043 non-null   object
 18  contract_type          7043 non-null   object
 19  internet_service_type  5517 non-null   object
 20  payment_type           7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [136]:
df.nunique()

customer_id              7043
gender                      2
senior_citizen              2
partner                     2
dependents                  2
tenure                     73
phone_service               2
multiple_lines              3
online_security             3
online_backup               3
device_protection           3
tech_support                3
streaming_tv                3
streaming_movies            3
paperless_billing           2
monthly_charges          1585
total_charges            6531
churn                       2
contract_type               3
internet_service_type       2
payment_type                4
dtype: int64

In [137]:
# looking at the null values:
df.isna().sum()

customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
contract_type               0
internet_service_type    1526
payment_type                0
dtype: int64

In [138]:
df.internet_service_type.value_counts()

internet_service_type
Fiber optic    3096
DSL            2421
Name: count, dtype: int64

tenure, monthly charges, tech support, contract type, churn, customer id

In [63]:
df = df[['customer_id','tenure','tech_support','monthly_charges','contract_type','churn']]
df.head()

  customer_id  tenure tech_support  monthly_charges   contract_type churn
0  0002-ORFBO       9          Yes             65.6        One year    No
1  0003-MKNFE       9           No             59.9  Month-to-month    No
2  0004-TLHLJ       4           No             73.9  Month-to-month   Yes
3  0011-IGKFF      13           No             98.0  Month-to-month   Yes
4  0013-EXCHZ       3          Yes             83.9  Month-to-month   Yes

In [64]:
df = df.set_index('customer_id')
df.head()

             tenure tech_support  monthly_charges   contract_type churn
customer_id
0002-ORFBO        9          Yes             65.6        One year    No
0003-MKNFE        9           No             59.9  Month-to-month    No
0004-TLHLJ        4           No             73.9  Month-to-month   Yes
0011-IGKFF       13           No             98.0  Month-to-month   Yes
0013-EXCHZ        3          Yes             83.9  Month-to-month   Yes

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tenure           7043 non-null   int64
 1   tech_support     7043 non-null   object
 2   monthly_charges  7043 non-null   float64
 3   contract_type    7043 non-null   object
 4   churn            7043 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 330.1+ KB

In [66]:
df.isna().sum()

tenure             0
tech_support       0
monthly_charges    0
contract_type      0
churn              0
dtype: int64

In [67]:
df.tech_support.value_counts()

tech_support
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [68]:
df[['tech_supp_no','no_int_service','tech_supp_yes']] = pd.get_dummies(df.tech_support).astype(int)

In [69]:
df.contract_type.value_counts()

contract_type
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64

In [70]:
df[['annual_contract','biennial_contract']] = pd.get_dummies(df.contract_type, drop_first=True).astype(int)

In [71]:
df.churn.value_counts()

churn
No     5174
Yes    1869
Name: count, dtype: int64

In [72]:
df = df.assign(churned = np.where(df['churn'] == 'Yes', 1, 0))

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0002-ORFBO to 9995-HOTOH
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             7043 non-null   int64
 1   tech_support       7043 non-null   object
 2   monthly_charges    7043 non-null   float64
 3   contract_type      7043 non-null   object
 4   churn              7043 non-null   object
 5   tech_supp_no       7043 non-null   int64
 6   no_int_service     7043 non-null   int64
 7   tech_supp_yes      7043 non-null   int64
 8   annual_contract    7043 non-null   int64
 9   biennial_contract  7043 non-null   int64
 10  churned            7043 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 660.3+ KB

In [74]:
df = df.drop(columns=['tech_support','contract_type','churn','no_int_service'])

In [75]:
df.head()

,tenure,monthly_charges,tech_supp_no,tech_supp_yes,annual_contract,biennial_contract,churned
customer_id,,,,,,,
0002-ORFBO,9,65.6,0,1,1,0,0
0003-MKNFE,9,59.9,1,0,0,0,0
0004-TLHLJ,4,73.9,1,0,0,0,1
0011-IGKFF,13,98.0,1,0,0,0,1
0013-EXCHZ,3,83.9,0,1,0,0,1

### Split data

In [77]:
df.shape

(7043, 7)

In [78]:
train, validate, test = prepare.splitting_data(df, 'churned')

In [93]:
train.shape

(4225, 28)

In [79]:
validate.shape

(1409, 7)

In [80]:
test.shape

(1409, 7)

In [81]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4225 entries, 4083-BFNYK to 7562-UXTPG
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tenure             4225 non-null   int64
 1   monthly_charges    4225 non-null   float64
 2   tech_supp_no       4225 non-null   int64
 3   tech_supp_yes      4225 non-null   int64
 4   annual_contract    4225 non-null   int64
 5   biennial_contract  4225 non-null   int64
 6   churned            4225 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 264.1+ KB

In [82]:
train.head(1).T

customer_id        4083-BFNYK
tenure                   38.0
monthly_charges          95.0
tech_supp_no              1.0
tech_supp_yes             0.0
annual_contract           1.0
biennial_contract         0.0
churned                   0.0

#### Modeling

In [83]:
X_train = train.drop(columns='churned')
X_validate = validate.drop(columns='churned')
X_test = test.drop(columns='churned')

In [84]:
y_train = train.churned
y_validate = validate.churned
y_test = test.churned

In [89]:
#modeling imports
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

#evaulation metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

#### Baseline

In [86]:
df.churned.mode()

0    0
Name: churned, dtype: int64

In [88]:
(df.churned==0).mean()

0.7346301292063041

#### Dec Tree

In [90]:
#create the object
tree = DecisionTreeClassifier()
tree

DecisionTreeClassifier()

In [91]:
#fit the object
tree.fit(X_train, y_train) #fit only on TRAIN DATA!

DecisionTreeClassifier()

In [92]:
#store my predicted values
y_pred = tree.predict(X_train)
y_pred[:10]

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1])

In [93]:
#accuracy score
tree.score(X_train, y_train)

0.983905325443787

In [94]:
pd.crosstab(y_train, y_pred)

col_0       0     1
churned
0        3092    12
1          56  1065

In [95]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      3104
           1       0.99      0.95      0.97      1121

    accuracy                           0.98      4225
   macro avg       0.99      0.97      0.98      4225
weighted avg       0.98      0.98      0.98      4225

In [96]:
for x in range(1,21):
    #create the object
    tree = DecisionTreeClassifier(max_depth=x)
    
    #fit the object
    tree.fit(X_train, y_train) #fit only on TRAIN DATA!
    
    #calculate the accuracy
    acc = tree.score(X_train, y_train)
    
    print(f'with a max depth of {x}, the accuracy is {round(acc,2)}')

with a max depth of 1, the accuracy is 0.73
with a max depth of 2, the accuracy is 0.78
with a max depth of 3, the accuracy is 0.78
with a max depth of 4, the accuracy is 0.8
with a max depth of 5, the accuracy is 0.8
with a max depth of 6, the accuracy is 0.8
with a max depth of 7, the accuracy is 0.81
with a max depth of 8, the accuracy is 0.82
with a max depth of 9, the accuracy is 0.84
with a max depth of 10, the accuracy is 0.85
with a max depth of 11, the accuracy is 0.87
with a max depth of 12, the accuracy is 0.88
with a max depth of 13, the accuracy is 0.9
with a max depth of 14, the accuracy is 0.91
with a max depth of 15, the accuracy is 0.93
with a max depth of 16, the accuracy is 0.93
with a max depth of 17, the accuracy is 0.94
with a max depth of 18, the accuracy is 0.95
with a max depth of 19, the accuracy is 0.96
with a max depth of 20, the accuracy is 0.97

In [97]:
for x in range(1,21):
    #create the object
    tree = DecisionTreeClassifier(max_depth=x)
    
    #fit the object
    tree.fit(X_train, y_train) #fit only on TRAIN DATA!
    
    #calculate the accuracy for train
    acc = tree.score(X_train, y_train)
    
    #calculate the accuracy for validate
    acc_v = tree.score(X_validate, y_validate)
    
    print(f'max depth of {x}, the accuracy train = {round(acc,2)}, val = {round(acc_v,2)}')

max depth of 1, the accuracy train = 0.73, val = 0.73
max depth of 2, the accuracy train = 0.78, val = 0.78
max depth of 3, the accuracy train = 0.78, val = 0.79
max depth of 4, the accuracy train = 0.8, val = 0.79
max depth of 5, the accuracy train = 0.8, val = 0.79
max depth of 6, the accuracy train = 0.8, val = 0.79
max depth of 7, the accuracy train = 0.81, val = 0.78
max depth of 8, the accuracy train = 0.82, val = 0.79
max depth of 9, the accuracy train = 0.84, val = 0.78
max depth of 10, the accuracy train = 0.85, val = 0.77
max depth of 11, the accuracy train = 0.87, val = 0.77
max depth of 12, the accuracy train = 0.88, val = 0.76
max depth of 13, the accuracy train = 0.9, val = 0.76
max depth of 14, the accuracy train = 0.91, val = 0.76
max depth of 15, the accuracy train = 0.92, val = 0.75
max depth of 16, the accuracy train = 0.93, val = 0.75
max depth of 17, the accuracy train = 0.94, val = 0.75
max depth of 18, the accuracy train = 0.95, val = 0.75
max depth of 19, the accuracy train = 0.96, val = 0.75
max depth of 20, the accuracy train = 0.97, val = 0.75

#### Max depth of 8 seems best

In [98]:
rf = RandomForestClassifier(min_samples_leaf=1, max_depth=10, random_state=123)

In [99]:
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=123)

In [100]:
y_pred = rf.predict(X_train)
y_pred[:10]

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [101]:
rf.score(X_train, y_train)

0.86698224852071

In [102]:
pd.crosstab(y_train, y_pred)

col_0       0    1
churned
0        2927  177
1         385  736

In [103]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91      3104
           1       0.81      0.66      0.72      1121

    accuracy                           0.87      4225
   macro avg       0.84      0.80      0.82      4225
weighted avg       0.86      0.87      0.86      4225

In [104]:
for x in range(1,11):
    rf = RandomForestClassifier(min_samples_leaf=x, max_depth=11-x, random_state=123)

    rf.fit(X_train, y_train)

    y_pred = rf.predict(X_train)

    acc = rf.score(X_train, y_train)
    
    print(f'for min leaf samples = {x} and max depth = {11-x}, the accuracy is {round(acc,2)}')

for min leaf samples = 1 and max depth = 10, the accuracy is 0.87
for min leaf samples = 2 and max depth = 9, the accuracy is 0.83
for min leaf samples = 3 and max depth = 8, the accuracy is 0.82
for min leaf samples = 4 and max depth = 7, the accuracy is 0.81
for min leaf samples = 5 and max depth = 6, the accuracy is 0.8
for min leaf samples = 6 and max depth = 5, the accuracy is 0.8
for min leaf samples = 7 and max depth = 4, the accuracy is 0.8
for min leaf samples = 8 and max depth = 3, the accuracy is 0.79
for min leaf samples = 9 and max depth = 2, the accuracy is 0.77
for min leaf samples = 10 and max depth = 1, the accuracy is 0.73

In [105]:
stats = []

for x in range(1,11):
    rf = RandomForestClassifier(min_samples_leaf=x, max_depth=11-x, random_state=123)

    rf.fit(X_train, y_train)

    y_pred = rf.predict(X_train)

    acc = rf.score(X_train, y_train)
    acc_val = rf.score(X_validate, y_validate)
    
    stats.append([x, 11-x,round(acc,2),round(acc_val,2) ]) 
    
print(f'min_leaf_samples = {x}, max_depth = {11-x}, accuracy train = {round(acc,2)}, val = {round(acc_val,2)}')

min_leaf_samples = 10, max_depth = 1, accuracy train = 0.73, val = 0.73

In [106]:
stats_df = pd.DataFrame(stats, columns =['min_leaf','max_depth','train_acc','val_acc'])
stats_df

   min_leaf  max_depth  train_acc  val_acc
0         1         10       0.87     0.80
1         2          9       0.83     0.80
2         3          8       0.82     0.80
3         4          7       0.81     0.80
4         5          6       0.80     0.79
5         6          5       0.80     0.79
6         7          4       0.80     0.79
7         8          3       0.79     0.79
8         9          2       0.77     0.78
9        10          1       0.73     0.73

#### Min leaf 1 with max depth 10 gives us 80% on validate

#### KNN

In [115]:
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [116]:
y_pred = knn.predict(X_train)
y_pred[:10]

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [117]:
knn.score(X_train, y_train)

0.8359763313609467

In [118]:
pd.crosstab(y_train, y_pred)

col_0       0    1
churned
0        2828  276
1         417  704

In [119]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.91      0.89      3104
           1       0.72      0.63      0.67      1121

    accuracy                           0.84      4225
   macro avg       0.79      0.77      0.78      4225
weighted avg       0.83      0.84      0.83      4225

In [120]:
y_pred = knn.predict(X_validate)
y_pred[:10]

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0])

In [121]:
knn.score(X_validate, y_validate)

0.7615330021291696

In [122]:
pd.crosstab(y_validate, y_pred)

col_0      0    1
churned
0        899  136
1        200  174

#### Logistic Regression

In [124]:
#make it
lr = LogisticRegression()

#fit it
lr.fit(X_train, y_train)

LogisticRegression()

In [125]:
lr.score(X_train, y_train)

0.7836686390532545

In [126]:
lr.score(X_validate, y_validate)

0.7991483321504613